
h3 { 
font-family : times; 
text-align : left; 
color : red; 
text-decoration : underline; 
}
h1 {
    font-family: arial;
    text-align: center;
    color: blue;
} 
p { 
font-family : courier; 
text-indent : 0.5cm; 
}
body {
background-color : lightpink; 
} 
ol { 
text-transform : lowercase; 
font-family: roman; 
font-size : 14px; 
}
a:link{
color : blue; 
}
a:hover{
background-color : lightgreen; 
}
